:root {
    --yellow-color-light: #F8CE51;
    --yellow-color-dark: #D3AC37;
    --yellow-color-hover:#F8E4AC;
    --main-color-black: #34393C;
    --color-placeholders: #E5EFEE;
    --color-white: #FFFFFF;
    --font-size-h1: 64px;
    --font-size-p: 16px;
    --font-family-h1: "Irish Grover";
    --font-family-p: "Jost";
}
*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}
/* nav */
.container--nav{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    }
.nav--logo{
    width: 25%;
}
.nav--title{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    text-align: center;

    
}
.nav--login{
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    

   
}
#nav--login--user {
    font-size: 30px;
    margin-right: 16px;
  
}
#nav--login--button1, #nav--login--button2{
margin-right: 16px;
}
h1{
    font-family: var(--font-family-h1);
    font-size: var(--font-size-h1);
    color:var(--main-color-black)

}
.paw{
    color:var(--yellow-color-dark);
   
}
p{
font-family: var(--font-family-p);
font-size: var(--font-family-p);
color: var(--main-color-black);
margin-bottom: 36px;
}

.img--logo{
    height: 150px;
    width: auto;
    /* justify-content:flex-start; */
}

/* Buttons */
.button--yellow—light{
    background-color: var(--yellow-color-light);
    color:var(--main-color-black);
    border-radius: 5px;
    border: 0;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.button--yellow—light:hover{
    background-color: var(--yellow-color-hover);
}
.button--yellow—stroke{
    background-color: var(--color-white);
    color:var(--main-color-black);
    border: solid 3px var(--yellow-color-dark);
    border-radius: 5px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.button--yellow—stroke:hover{
    border: solid 3px var(--yellow-color-hover);
}
button:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(87, 87, 86, 0.2);
}
button{
    cursor: url('./src/img/cursor.svg'), auto;
}

/*Search Form*/
.search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.placeholders--search{
    display: flex;
    flex-direction: row;
}

.table--database{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}
label, input{
   font-family: var(--font-family-p);
   font-size: var(--font-family-p);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 800px;
    margin: auto;
}

.filter {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    
}


.filter-button {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#searchButton {
    align-self: center;
}
.input-field,
select {

    height: 40px;
    border: 0;
    border-radius: 4px;
    background-color: var(--color-placeholders);
    padding: 0 10px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
}

/* Table */
#pets-table{
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin: 20px auto;
}
#pets-table th, #pets-table td{
    padding: 16px;
    border-bottom: 1px solid var(--yellow-color-hover);

}
#pets-table th {
    font-weight: bold;
}

#update-btn, #edit-btn, #delete-btn {
background-color: var(--yellow-color-dark);
border: 0;
border-radius: 3px;
width: 20px;
height: 20px;
}

#update-btn:hover,
#edit-btn:hover,
#delete-btn:hover {
    background-color: var(--yellow-color-hover);
}

.fa-cat {
    color: #2F9C95;
    font-size: 24px;
}

.fa-dog {
    color: #40C9A2;
    font-size: 24px;
}