:root {
    --yellow-color-light: #F8CE51;
    --yellow-color-dark: #D3AC37;
    --main-color-black: #34393C;
    --color-placeholders: #E5EFEE;
    --color-white: #FFFFFF;
    --font-size-h1: 64px;
    --font-size-p: 16px;
    --font-family-h1: "Irish Grover";
    --font-family-p: "Jost";
}
*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}
.container--nav{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.nav--logo{
    width: 25%;
}
.nav--title{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    text-align: center;

    
}
.nav--login{
    width: 25%;
    display: flex;
    align-items: flex-start;
   
}
#nav--login--user {
   height: 50px;
  
}
h1{
    font-family: var(--font-family-h1);
    font-size: var(--font-size-h1);
    color:var(--main-color-black)

}
.paw{
    color:var(--yellow-color-dark);
   
}
p{
font-family: var(--font-family-p);
font-size: var(--font-family-p);
color: var(--main-color-black);
}

.img--logo{
    height: 150px;
    width: auto;
    /* justify-content:flex-start; */
}

.button--yellow—light{
    background-color: var(--yellow-color-light);
    color:var(--main-color-black);
    border-radius: 5px;
    border: 0;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.button--yellow—stroke{
    background-color: var(--color-white);
    color:var(--main-color-black);
    border: solid 3px var(--yellow-color-dark);
    border-radius: 5px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}